/* Index Styles */

/* UNIVERSAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* BODY STYLES */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #1a1a1a;
    line-height: 1.6;
}

/* NAVIGATION STYLES */
nav {
    background-color: #ffffff;
    color: #1a1a1a;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1000;
    border-bottom: 1px solid #e5e5eb;
    padding: 20px 0;
    /* outline: 1px solid green; */
}

/* NAVIGATION CONTAINER */
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6366f1;
}

/* NAVIGATION LINKS */
.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links li {
    padding: 0px 10px;
}

.nav-links li a {
    color: #636363;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* NAVIGATION LINKS HOVER EFFECT */
.nav-links li a:hover {
    color: #6366f1;
}

/* HOVER FOR ACTIVE */
.nav-links li a.active {
    color: #6366f1;
    border-bottom: 2px solid #6366f1;
    padding-bottom: 5px;
}


/* HERO SECTION STYLES  */
.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

/* HERO HEADING */
.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #1a1a1a;
    text-align: center;
}

/* HERO PARAGRAPH */
.hero p {
    font-size: 20px;
    color: #636363;
    max-width: 600px;
    text-align: center; 
}

/* HERO BUTTON */
.hero-btn{
    color: #ffffff;
    padding: 14px 32px;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* PRIMARY BUTTON */
.btn-getStarted {
    background-color: #6366f1;
    border: none;
    padding: 14px 32px;
    color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-learnMore {
    background-color: transparent;
    border: 2px solid #e5e7e5;
    padding: 12px 30px;
    color: #1a1a1a;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* PRIMARY BUTTON HOVER EFFECT */
.btn-getStarted:hover {
    background-color: #4f46e5;
    transform: translateY(-2px);
}

.btn-learnMore:hover {
    transform: translateY(-2px);
}